

<div class="header" *ngIf="ready">
    <table class="centered">
     
      <tr>
        <th>Documents per page</th><th><select (ngModelChange)="clear($event);" [(ngModel)]="documentsPerAPage" class="" name="documentsPerAPage">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select></th>
      </tr>
      <tr>
        <th><button class="btn btn-sm" type="button" name="submitQuery" (click)="query();">Query</button></th>
      </tr>
    </table>
    <div *ngFor="let queryDocument of queryDocuments">
      <app-get-field #getField [document]="queryDocument"></app-get-field>
      <hr>
    </div>
    <table class="centeredBottom">
      <th><div *ngIf="!previousDisabled"><button class="btn btn-sm" type="button" name="Previous" (click)="previousSet();"> Previous</button></div></th><th><div *ngIf="!nextDisabled"><button class="btn btn-sm" (click)="nextSet();" type="button" name="Next">Next</button></div></th>
    </table>
</div>
